
	/* =======================================================
		Any styles needed for the front-end. This should
		be generated via the SCSS files in the
		/assets/css/scss/ directory
	======================================================= */
	#gmaps-locator{width:100%;height:300px;}
	#cWrap{width:auto;min-height:50px;height:auto !important}
	img[src*="gstatic.com/"], img[src*="googleapis.com/"] {max-width: none;}
